h2
{
    text-align: center;
}

table 
{
border: medium solid Black;
margin: 2px;
table-layout: fixed;
background-color: lightblue;
}

td
{
    text-align: center;
    vertical-align: middle;
    border: thin solid #6495ed;
    width: 120px;
    height: 150px;
    border-width:2px;
    border-style:solid; 
    border-color:black;
}
img
{
    width: 120px;
    height: 150px;
}



.mouseover
{
    background-color: green;
}
